<h1>EDIT</h1>
<form action="/update2">
    <input type="hidden" name="id" value="<%=@comment.id%>">
    <textarea name="comment" class="form-control" row="3"><%=@comment.msg%></textarea><br>
    <input type="submit" class="btn btn-success">
    
</form>
